name: NodeJS Microservices Build & Docker Push

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - api-gateway
          - user-service
          - order-service
          - payment-service
          - product-catalog-service
          - shopping-cart-service
          - notification-service

    steps:
      # 1️⃣ Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Docker login (CORRECT WAY)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3️⃣ Build & push Docker image
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            docker.io/praveen197/${{ matrix.service }}:latest
            docker.io/praveen197/${{ matrix.service }}:${{ github.sha }}
