name: NodeJS Microservices Build & Docker Push

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - api-gateway
          - user-service
          - order-service
          - payment-service
          - product-catalog-service
          - shopping-cart-service
          - notification-service

    defaults:
      run:
        working-directory: ${{ matrix.service }}

    steps:
      # Checkout
      - name: Checkout repository
        uses: actions/checkout@v4

      # Node setup
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ${{ matrix.service }}/package-lock.json

      # Install deps
      - name: Install dependencies
        run: npm install

      # Build
      - name: Build service
        run: npm run build --if-present

      # Upload artifacts
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.service }}-build
          path: |
            ${{ matrix.service }}/dist
            ${{ matrix.service }}/build
          if-no-files-found: ignore

      # Docker login
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      # Build & Push imag
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.service }}
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            praveen197/${{ matrix.service }}:latest
            praveen197/${{ matrix.service }}:${{ github.sha }}
